%header.header
  .header_box
    %ul.header_box_right
      %li.header_box_right_name
        = link_to "ログイン", "#"
      %li.header_box_right_name
        = link_to "マイページ", "#"
      %li.header_box_right_name
        = link_to "新規登録", "#"
      %li.header_box_right_name
        = link_to "ログアウト", "#"
    %ul.header_box_left
      %li.header_box_left_name
        ユーザーネーム
    = link_to root_path do
      %p.header_box_center
        冷蔵庫管理アプリ