= render "header"
.new
  .new_box
    = form_with model: @item do |f|
      .new_box_titel
        登録食品編集
      .new_box_name
        .new_box_name_titel
          ・食品名
        .new_box_name_input
          = f.text_field :name, placeholder: "例) たまご"
      .new_box_purchase
        .new_box_purchase_titel
          ・購入日
        .new_box_purchase_input
          = f.text_field :purchase, placeholder: "例) 20200601"
      .new_box_stock
        .new_box_stock_titel
          ・個数
        .new_box_stock_input
          = f.number_field :stock,placeholder: "例) 10"
      .new_box_expiration
        .new_box_expiration_titel
          ・賞味期限
        .new_box_expiration_input
          = f.text_field :expiration, placeholder: "例) 20200606"
      .new_box_submit
        .new_box_submit_btn
          = f.submit '編集'
        .new_box_submit_root
          = link_to "食品一覧にもどる",items_path