= render "items/header"
.product
  .product_box
    .product_box_titel
      [在庫一覧]
    .product_box_name
      - @items.each do |item|
        .product_box_name_list
          = item.name
          = item.stock
          = item.purchase
          = item.expiration
= render 'exisibition'
  